<!-- card -->
<!-- <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <h5 class="card-title text-center">Cake</h5>
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/0/04/Pound_layer_cake.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5>Price is 20$</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text " for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select " id="inputGroupSelect01">
              <option selected value="1">one</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <button class="btn btn-success" >Buy Now</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <h5 class="card-title text-center">Cokies</h5>
        <img class="card-img-top" src="https://i.pinimg.com/originals/a8/81/b9/a881b9ecadd99b6404198155bf7d4a23.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5>Price is 10$</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text " for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select " id="inputGroupSelect01">
              <option selected>one</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <button class="btn btn-success">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <h5 class="card-title text-center">Pastry</h5>
        <img class="card-img-top" src="https://static.wixstatic.com/media/5a1e59_27cfb318261442b480316115bf75d219~mv2.jpg/v1/fill/w_724,h_483,al_c,q_90/5a1e59_27cfb318261442b480316115bf75d219~mv2.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5>Price is 15$</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text " for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select " id="inputGroupSelect01">
              <option selected>one</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <button class="btn btn-success">Buy Now</button>
        </div>
      </div>
    </div>
  </div> -->

<!-- <div class="row mt-3">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <h5 class="card-title text-center">Ice-Cream</h5>
        <img class="card-img-top" src="https://redroserestaurant.softinfinitytechnology.com/wp-content/uploads/2021/10/from-the-us-russia-to-india-an-ice-cream-bowl-has-a-long-political-history.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5>Price is 20$</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text " for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select " id="inputGroupSelect01">
              <option selected value="1">one</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <button class="btn btn-success" >Buy Now</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <h5 class="card-title text-center">Nimco</h5>
        <img class="card-img-top" src="https://www.brandsynario.com/wp-content/uploads/2017/11/Nimco-lea.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5>Price is 10$</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text " for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select " id="inputGroupSelect01">
              <option selected>one</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <button class="btn btn-success">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <h5 class="card-title text-center">Sweets</h5>
        <img class="card-img-top" src="https://www.adityabirlacapital.com/healthinsurance/active-together/wp-content/uploads/2018/08/Blog-Images3.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5>Price is 15$</h5>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text " for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select " id="inputGroupSelect01">
              <option selected>one</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <button class="btn btn-success">Buy Now</button>
        </div>
      </div>
    </div>
  </div> -->

<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/items">Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/order">Order</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<form class="form-control" [formGroup]="formValue">
  <div class="container mt-2">

    <h1 class="text-center">Order</h1>
    <!-- dropdown -->
    <div class="col-sm-12">
      <!-- (change)="change($event)" -->
      <select class="form-control" formControlName="id" (change)="onSelectCustomer($event)">
        <option *ngFor="let row of customerData" [value]="row.id">
          {{row.cusName}}
        </option>
      </select>
    </div>
    <!-- <div class="text-center form-group">
      <input type="text" class="m-2 form-control" name="cusName" formControlName="cusName" placeholder="Customer Name">

    </div>  -->
    <div class="text-center form-group">
      <input type="text" class="m-2 my-3 form-control " name="city" formControlName="city" placeholder="city">

    </div>
    <div class="text-center form-group">
      <input type="email" class="m-2 my-3 form-control " name="email" formControlName="email" placeholder="Email">

    </div>
    <div class="text-center form-group">
      <input type="text" class="m-2 my-3 form-control " name="address" formControlName="address" placeholder="address">

    </div>
    <div class="text-center form-group">
      <input type="text" class="m-2 my-3 form-control " name="phone" formControlName="phone" placeholder="phone">

    </div>
    <!-- <div class="text-center">
      <button class="btn btn-danger m-3 " *ngIf="showAdd"  (click)="addCustomer()">Submit</button>
      <button type="button" *ngIf="showUpdate"  (click)="updateCustomerDetails()" 
      class="btn btn-primary">Update</button>
    </div> -->
  </div>

  <div class="container">
    <table class="table border">
      <thead>
        <tr>
          <th scope="col">
            <button style="margin: 0px" (click)="addRow()" class="btn btn-raised btn-sm btn-success font"><i
                class="fa fa-plus"></i></button>

          </th>
          <th scope="col">items</th>
          <th scope="col">no of quantity</th>
          <th scope="col">Price </th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <ng-container formArrayName="order" *ngFor="let row of getRows() ; let i=index;let l=last;let f=first">
          <tr [formGroupName]="i">
            <td scope="row">
              <button *ngIf="getRows().length > 1" (click)="deleteRow(i)" style="margin: 0px"
                class="btn btn-raised btn-sm btn-danger font"><i class="fa fa-trash-o"></i></button>
            </td>
            <td>
              <select class="form-control" formControlName="item" (change)="onSelectItem($event,i)">
                <option *ngFor="let row of itemsData" [value]="row.id">
                  {{row.items}}
                </option>
              </select>
            </td>
            <td>
              <input type="number" class=" form-control " formControlName="quantity" placeholder="quantity" #box
                (keyup)="onChangeQuantity($event, i)">
            </td>
            <td>
              <input type="number" class=" form-control " formControlName="price" placeholder="price" readonly="true">
            </td>
            <td>
              <input type="number" class=" form-control " formControlName="total" placeholder="total" readonly="true">
            </td>
            <!-- <td><input class="" type="text" #box (keyup)="getValue(box.value)" placeholder="number"></td>
        <td>{{value}} Rs</td>
        <td>{{total}} Rs</td> -->
          </tr>
        </ng-container>

      </tbody>
    </table>
  </div>
</form>