<div class="container mt-5">
    <form [formGroup]="loginForm" class="form-control">
        <h1 class="text-center">login</h1>
        <div class="text-center form-group">
            <input type="text" class="m-2 form-control" formControlName="email" placeholder="Email">
        </div>
        <div class="text-center form-group">
            <input type="password" class="m-2 my-3 form-control " formControlName="password" placeholder="Password">
        </div>
        <div class="text-center">
            <button class="btn btn-danger m-3 " >Submit</button>
        </div>

    </form>
</div>